html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.html,
body {
    font-family: 'Poppins', sans-serif;
}

.logomarca {
    width: 175px;
    height: 40px;
    background: url("../img/WebWorld1.png") no-repeat 0 0;
    display: block;
}

.logo {
    float: left;
}

.menu {
    float: right;
}

.menu_li {
    float: left;
    margin: 0 10px;
}

.menu_link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 14px;
}

.clear {
    clear: both;
}

.center {
    width: 1110px;
    margin: 0 auto;
}

.apresentacao {
    background: url("../img/background.png") no-repeat center 0;
    padding-top: 40px;
}

.bt-sigin {
    border: 1px solid #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 4px;
    margin-left: 30px;
}

.bt-sigup {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 4px;
    background: #2f2b1e;
}

.apresentacao_box {
    padding-top: 100px;
}

.apresentacao_descricao {
    width: 50%;
    float: left;
    padding-top: 60px;
}

.apresentacao_video {
    width: 50%;
    float: left;
}

.title_apresentacao {
    color: #3b3322;
    font-size: 44px;
    font-weight: 48px;
}

.title_apresentacao strong {
    font-weight: 600;
}

.descricao-apresentacao {
    color: #544837;
    font-size: 18px;
    line-height: 24px;
    margin: 40px 0 30px 0;
}

.bt-red {
    background: #ff4f4f;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 4px;
    display: inline-block;
}

.box-icone {
    width: 80px;
    height: 80px;
    border: 2px solid #ff4f4f;
    border-radius: 10px;
    text-align: center;
}

.box-icone img {
    margin-top: 20px;
}

.box-icone_titulo {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0;
}

.box-icone_texto {
    font-size: 16px;
    color: #5c5040;
    line-height: 22px;
}

.box-wrapper {
    width: 25%;
    float: left;
}

.box-icone-red {
    background: #ff4f4f;
}

.icones {
    padding: 200px 0;
}

#about {
    background: url(../img/Internet1.png) center 0 no-repeat;
    height: 1000px;
}

.box-ilustracao {
    width: 50%;
    float: left;
}

.about-box {
    width: 50%;
    float: left;
}

.about-box_title {
    font-size: 17px;
    line-height: 19px;
    color: #262626;
}

.about-box_title span {
    float: left;
    opacity: .7;
    padding: 7px 10px 0 0;
}

.about-box_title i {
    float: left;
}

.about-box_subtitle {
    color: #262626;
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    margin: 10px 0 20px 0;
}

.checklist {
    width: 24px;
    height: 24px;
    background: url(../img/Internet1.png) 0 0 no-repeat;
    float: left;
}

.item-list-about {
    margin-bottom: 20px;
}

.item-list-about span {
    float: left;
    padding: 5px 0 0 10px;

}

.bt-watch-video {
    float: left;
    margin: 7px 0 0 30px;
}

.bt-know-more {
    float: left;
}

.icon-video {
    background: url(../img/Internet1.png) 0 0 no-repeat;
    width: 30px;
    height: 30px;
}

.bt-watch-video i {
    float: left;
}

.bt-watch-video span {
    float: left;
    color: #ff4f4f;
    font-size: 19px;
    font-weight: 500;
    margin: 5px 10px 0 0;
}

.box-buttons-about {
    padding-top: 30px;

}